@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

* {
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

* {
    margin: 0px;
}

body {
    background-color: black;
    height: 100vh;
    overflow: hidden;
}

#game {
    display: grid;
    grid-template-columns: 20% 80%;
    height: 100vh;
}