#pista {
    place-self: center;
    grid-column: 2/3;
    width: 75vw;
    height: 100%;
    background-image: url("../images/fundo.jpeg");
    background-repeat: repeat-x;
    background-size: contain;
    animation: pistaAnim infinite linear 2s; 
  }

  @keyframes pistaAnim {
    from {
      background-position: center center;
    }
    to {
      background-position: -75vw center;
    }
  }
  